venv
.env
src/__pycache__/
src/modules/s3/__pycache__/
src/modules/__pycache__
src/routers/__pycache__/
src/modules/mongodb/__pycache__/
src/modules/data_providers/mega/__pycache__/
src/routers/data_providers/__pycache__/
src/__pycache__/
src/modules/data_providers/__pycache__/
src/static/temp/files/ready/
src/static/temp/files/compressed/
src/modules/file_handler/__pycache__/
