<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H3DForge Back</title>
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128/examples/js/loaders/STLLoader.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128/examples/js/controls/OrbitControls.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js" defer></script>
    <script type="module" src="static/scripts/raw_to_db.js" defer></script>
</head>

<body>
    <div id="container">
        <header>
            <button id="test-btn">Test</button>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/raw_to_db">Raw to DB</a></li>
                    <li><a href="/test">Download</a></li>
                </ul>
            </nav>
        </header>
        <main id="raw_to_db-container">
            <div id="raw_file-div" class="info_box">
                <div>
                    <h5>Raw File</h5>
                </div>
                <div id="source-div" class="selector-div">
                    <div>
                        <label for="source-select">Source:</label>
                        <select id="source-select" name="source"></select>
                    </div>
                    <div>
                        <label for='extension-select'>Extension:</label>
                        <select id='extension-select' name='extension'></select>
                    </div>
                    <div class="row-btns">
                        <button id="get_raw_file-btn">Get Raw File</button>
                    </div>
                </div>
            </div>
            <div id="file_info-div" class="info_box">
                <div>
                    <h5>File info</h5>
                    <ul id="file_info-ul">
                    </ul>
                </div>
                <div id="info_handlers" class="row-btns grid-col-4">
                    <button id="skip_monster-btn" class="xmini-btn">Monster</button>
                    <button id="skip_terrain-btn" class="xmini-btn">Terrain</button>
                    <button id="skip_other-btn" class="xmini-btn">Other</button>
                    <button id="skip_part-btn" class="xmini-btn">Part</button>

                </div>
            </div>
            <div id="file_list-div" class="info_box">
                <h5>File list</h5>
                <div class="selector-div">
                    <label for="sub_raw-select">sRaw:</label>
                    <select id="sub_raw-select" name="sub_raw"></select>
                </div>
                <div class="selector-div margin-top-10">
                    <label for="path-select">Path:</label>
                    <select id="path-select" name="folder"></select>
                </div>
                <div class="selector-div margin-top-10">
                    <label for="file-select">File:</label>
                    <select id="file-select" name="file"></select>
                </div>
                <div class="row-btns margin-top-15">
                    <button id="switch_mode-btn">Switch to Part Mode</button>
                </div>
                <hr>
                <div class="part-mode" id="part-container">
                    <div class="row-btns grid-col-2" id="part_btns-div">
                        <button id="add_part-btn">Add Part</button>
                        <button class="delete-btn" id="delete_part-btn">Delete Part</button>
                    </div>
                    <div id="bg-in">
                        <ul id="part_list-ul">
                        </ul>
                    </div>
                </div>
            </div>
            <div id="model_form-div">
                <div class="info_box" id="category-div">
                    <h5>Category info</h5>
                    <div id="category-container">
                        <div class="selector-div">
                            <label for="category-select">Category:</label>
                            <select id="category-select" name="category">
                            </select>
                        </div>
                        <div class="selector-div">
                            <label for="sub_category-select">Sub Category:</label>
                            <select id="sub_category-select" name="sub_category">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="info_box" id="form-div">
                    <h5>Model info</h5>
                    <div id="form-container">
                        <div id="model_details-div" class="form_box">
                            <ul>
                            </ul>
                        </div>
                        <div id="print_details-div" class="form_box">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div id="form_btn-div">
                        <button id="confirm_form-btn" class="mini-btn">Confirm</button>
                    </div>
                </div>
                <div class="info_box" id="final-div">
                    <h5>Final info</h5>
                    <button id="add_3d_model-btn">Tuqi</button>
                </div>
            </div>

            <div class="info_box" id="model_viewer-div">
                <div id="principal_viewer">
                </div>
                <div id="handlers" class="row-btns grid-col-2">
                    <button id="reset_model-btn" class="xmini-btn">Reset View</button>
                    <button id="capture_model-btn" class="xmini-btn">Capture Model</button>
                </div>
            </div>
        </main>
        <footer>
            <div id="status-div">
                <ul id="status-ul">
            
                </ul>
    
            </div>
        </footer>
        <div id="second_viewer"></div>
    </div>
</body>

</html>